<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

    <div class="row">
        <div class="bg_image col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <h1 class="lg_text">About Us</h1>
                        <p class="tag_text">All you need a one platform to showcase ;-)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_image2 col-md-6">

        </div>
    </div>
    <div class="row div_blc2">
        <div class="col-md-6">
            <h1 class="desc_left">Project Exhibition & Showcase Web Patform</h1>
            <p class="desc_left">A Platform Where You Can Showcase Your All Projects</p>
        </div>
        <div class="col-md-6">
            <p>Here one can list out his project, upload impactful introductory video,show gallery,share working
                experience for the project,get reviews,filters and many more attractive features...</p>
            <p>Here you will also find "Developer Portfolio" section under every respective projects, where one can
                mention all the professional information of the project developer,their achievements, currently working
                company,their social media accounts,contact details and lots of many more that you could easily imagine.
            </p>
        </div>
    </div>

</body>

</html>