body {
    background-color: #eaf6f6;
    padding: 5% 10%;
    margin: 0%;
}

.contain {
    padding: 5%;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #b0b3b7;

}

/* -------   Lock-Logo ---------- */

.leftpart {
    padding: 0%;
}

.logo {
    width: 100%;
    transform: rotate(-5deg);
    transition-duration: 2s;
}

.logo:hover {
    transform: rotate(30deg);
    transition-duration: 1s;
}

/* -------- Form --------- */

.rightpart {
    padding: 5%;
}

.inner_div {

    width: 70%;
    height: 70%;
    margin: auto;
}

h1 {
    /* font-family: "roboto", sans-serif; */
    font-family: 'Aclonica', sans-serif;
    color: #c026ff;
    font-size: 4rem;
    text-align: center;
    transition-duration: 1s;

}

h1:hover {
    font-size: 75px;
    transition-duration: 1s;

}

.input-group-prepend span {
    width: 50px;
    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.28644961402529767) 18%, rgba(80, 196, 239, 1) 98%);
    border: 0 !important;
}


.login_btn {

    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.28644961402529767) 18%, rgba(80, 196, 239, 1) 98%);
    width: 100px;
    font-family: "roboto", sans-serif;
}

.login_btn:hover {
    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.6169818269104517) 18%, rgba(80, 196, 239, 1) 98%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links {
    text-align: center;
    margin-top: 6%;

}

.links a {
    color: #c026ff;
}