body {
    background-color: #eaf6f6;
    padding: 4.5% 10%;
    margin: 0%;
}

.contain {
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #b0b3b7;

}

/* -------   Lock-Logo ---------- */

.leftpart {
    padding: 0%;
}

.logo {
    width: 100%;
    position: relative;
    top: 11%;
    /* transform: rotate(5deg);
    transition-duration: 2s; */
}

.mini_logo {
    position: absolute;
    width: 9%;
    left: 10%;
    top: 6.5%;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/* .mini_logo:focus {
    right: 50%;
    transition-duration: 3s;
} */

/*------- New Logo Animation------- */
@keyframes example {
    from {
        left: 10%;
    }

    to {
        left: 80%;
    }
}


/* .logo:hover {
    transform: rotate(30deg);
    transition-duration: 1s;
}
*/

/* -------- Form --------- */

.rightpart {
    padding: 5%;
}

.inner_div {

    width: 70%;
    height: 70%;
    margin: auto;
}

h1 {
    /* font-family: "roboto", sans-serif; */
    font-family: 'Aclonica', sans-serif;
    color: #c026ff;
    font-size: 4rem;
    text-align: center;
    transition-duration: 1s;

}


.input-group-prepend span {
    width: 50px;
    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.28644961402529767) 18%, rgba(80, 196, 239, 1) 98%);
    border: 0 !important;
}


.login_btn {

    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.28644961402529767) 18%, rgba(80, 196, 239, 1) 98%);
    width: 100px;
    font-family: "roboto", sans-serif;
}

.login_btn:hover {
    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.6169818269104517) 18%, rgba(80, 196, 239, 1) 98%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links {
    text-align: center;
    margin-top: 9%;

}

.links a {
    color: #c026ff;
}

.btn_overlay {
    position: relative;
    display: inline-block;
    right: 10%;
    width: 150px;
    height: 40px;
    opacity: 0;
    bottom: 30px;
}

label.pic {
    width: 150px;
    height: 40px;
    background: linear-gradient(0deg, rgba(153, 26, 211, 0.5889706224286589) 0%, rgba(153, 26, 211, 0.28644961402529767) 18%, rgba(80, 196, 239, 1) 98%);
    font-family: "roboto", sans-serif;
}